body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
    margin:0;
}

#title{
    color:white;
    font-size: 48px;
    margin:0;
}

#description{
    color:white;
    font-size: 20px;
}

#source{
    padding:20px;
}
#source a{
    color:white;
    font-size: 16px;
}

#navigation {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    font-size: 18px;  
}

#navigation a{
    display: block;
    color:white;
    padding:10px;
    border-radius: 8px;
    text-decoration: none;
}

#navigation a:hover{
    color: rgb(0, 242, 255);
}

.canvas-legend{
    display: flex;
    flex-direction: row;
}

#canvas{
    min-width: 1000px;
    min-height: 600px;
    margin: 20px;
}

#tooltip{
    position: absolute;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding:16px;
    width:auto;
    height:auto;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

